<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com). All Rights Reserved.
  ~
  ~ This software is the property of WSO2 LLC. and its suppliers, if any.
  ~ Dissemination of any information or reproduction of any material contained
  ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
  ~ You may not alter or remove any copyright or other notice from copies of this content.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SMSNotificationEventHandlerTestSuite">

    <test name="SMSNotificationHandlerTest" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.local.auth.smsotp.authenticator.SMSOTPAuthenticator"/>
        </classes>
    </test>
</suite>
